@model List<Olympics.Models.CountryModel>

@{
    ViewBag.Title = "Countries";
}

<div class="row">
    <div class="col-md-4">
        <hr/>
        <h3>Filter by Game:</h3>
            @Html.ActionLink("Winter Olympics", "Index", new { Value="Winter Olympics", Filter="Game" })
        <hr/>
        <h3>Filter by Category:</h3>
            @Html.ActionLink("Curling", "Index", new { Value="Curling", Filter="Category" })
        <hr/>

        @Html.ActionLink("All", "Index")
    </div>
    <div class="col-md-8">
        <div class="col-md-12 text-center">
            @{ foreach (Olympics.Models.CountryModel country in Model)
                {

            <a href="/home/country/@country.Id" title="@country.Country, @country.Game, @country.Type">
                <img src="@country.Flag" style="width:400px;border:1px solid;margin-bottom:10px;"  />
            </a>

                }
            }
        </div>
    </div>
</div>